.image-text-splitter{
  max-width: 50%;
  margin: 200px 0px;
  color: rgb(33, 33, 33);
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

@media all and (max-width: 767px){
  .image-text-splitter{
    font-size: 3rem;
    margin: 100px 0;
  }
}