.header{
  transition: all 0.3s ease-out;
  z-index: 1000;
  position: fixed;
  top: 0px;
  width: 100vw;
  background: white;
  color: black;
  margin-bottom: 1.45rem; 
}

.header a{
  color: black
}

.header-docked{
  background-color: transparent;
  color: white;
}

.header-docked a{
  color: white;
}

.header-shadow{
  box-shadow:
  0 0.2px 0.5px rgba(0, 0, 0, 0.017),
  0 0.6px 1.4px rgba(0, 0, 0, 0.025),
  0 1.5px 3.3px rgba(0, 0, 0, 0.033),
  0 5px 11px rgba(0, 0, 0, 0.05);
}

.header-logo{
  transition: all 0.3s ease-out;
  height:30px;
  fill: white;
}