.title-header-container{
  position: absolute;
  /*padding: 10%;*/
}

.main-font{
  font-family: 'Questrial', sans-serif;
  color: white;
}

.main-title{
  margin: 10px 0;
  font-size: 6rem;
  letter-spacing: 10px;
  word-break: break-all;
}

.secondary-title{
  font-size: 2rem;
  word-break: break-all;
}

.big-image{
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  display: block;
  object-fit: cover;
  margin: 0px;
  /* object-position: 50% 30%; */
}

.big-image-clickable{

}

.big-image-container-clickable:hover .big-image{
  transform: scale(1.05);
}

.big-image-container{
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  cursor: pointer;
}