.ant-input-group .ant-input{
  border: 1px solid transparent;
}
.search-container{
  width: 50%;
  margin-top: 150px;
  display: flex;
}

.search-result-image{
  height: 80%;
  object-fit: cover;
  margin: 0;
  margin-left: 0;
}

.search-input{
  width: 100%;
}

.search-input > .ant-select{
  width: 100% !important;
}

.search-input .ant-btn-primary{
  background-color: black;
  border-color: black;
}

.search-input .ant-input-group-addon{
  display: none;
}

@media all and (max-width: 767px){
  .search-container{
    margin-top: 100px;
    width: 80%;
  }
}