.filters-container{
  width: 20%;
  min-width: 200px;
}

.collection-filter-container{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.collection-filter-container .ant-checkbox-group{
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: baseline;
}

.collection-item-container{
  width: 50%;
  font-size: 1rem;
  cursor: pointer;
}

@media all and (max-width: 767px){
  .filters-container{
    display: none;
  }
}