.filters-container{
  width: 20%;
  min-width: 200px;
}

.collection-filter-container{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: end;
}

.collection-filter-container .ant-checkbox-group{
  width: 100%;
  display: flex;
  flex-flow: column;
  /* align-items: baseline; */
  align-items: flex-end;
}

.collection-filter-container .ant-checkbox-group-item:last-child {
  margin-right: 8px;
}

.collection-item-container{
  width: 50%;
  font-size: 1rem;
  cursor: pointer;
}

.options-container{
  margin-top: 100px;
  width: 50%;
}

@media all and (max-width: 767px){
  .filters-container{
    /* display: none; */
  }

  .collection-item-container{
    width: 100%;
    font-size: 1.5rem;
  }

  .options-container{
    width: 100%;
  }

  .categories-title{
    font-size: 1.7rem;
  }
}